* {
    margin: 0;
    padding: 0;
    }

body, html {
        height: 100vh;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }

.card-body {
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/u1.jpg");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
.card-content{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    
input, button{border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}


label{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;

}

    .elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        align-content: center;
        text-align: center;
    }
h2{
    text-align: center;
}
